<div class="container mx-auto mt-8">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold"><%=link_to "Tasks", todo_items_path %></h1>
    <%= link_to ' New Task ', new_todo_item_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
  <%= link_to "All", all_todo_items_path, class: " py-3 px-5  text-blue-800 font-medium" %>


  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <%= render partial: 'todo_item', collection: @todo_items %>
  </div>
</div>