<% unless task.user == Current.user %>
  <div class="block bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 hover:bg-gray-50 transition duration-150 ease-in-out"> 
    <%= render 'task_details', task: task %>
  </div>
<% else %>
  <%= link_to task_path(task), class: "block bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 hover:bg-gray-50 transition duration-150 ease-in-out", data: { controller: "todo-item" } do %>
    <%= render 'task_details', task: task %>
  <% end %>
<% end %>