<div class="container mx-auto mt-8">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold"><%=link_to "Tasks", tasks_path %></h1>
    <%= link_to ' New Task ', new_task_path, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
  <%= link_to "All", all_tasks_path, class: " py-3 px-5  text-blue-800 font-medium" %>

  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <%= render partial: 'task', collection: @tasks %>
  </div>
</div>
