<%= form_with(model: todo, class: "mb-4") do |form| %>
  <div class="flex">
    <%= form.text_field :title, placeholder: "Add a new todo", class: "flex-grow p-2 border rounded-l focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    <%= form.submit "Add", class: "bg-blue-500 text-white px-4 py-2 rounded-r hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>
<% end %>
