<div class="container mx-auto px-4">
  <h1 class="text-3xl font-bold mb-6">Edit Todo</h1>

  <%= render 'form', todo: @todo %>

  <div class="mt-4">
    <%= link_to 'Show', @todo, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2' %>
    <%= link_to 'Back', todos_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>
