
<div class="w-full">  
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    
    <h3 class="text-xl font-bold mt-4">Real ancient history</h3>
    <em>Have you ever looked at history and thought - yea that makes sense - then you are in the <b>wrong</b> place :o]</em>

      <p>
      Please feel free to contact me at paul@vudmaska.com

    </div>
  </div>